<%- include('../partials/header.ejs', {title: 'Edit A Book'}) %> 
<br>
<a href="/books" class="btn btn-primary">Back to List</a>
<br> <br>
<% if (alert) { %>
    <% alert.split(',').forEach(el => { %>
        <div class="alert alert-danger" role="alert">
            <%= el %>  
        </div>
    <% }) %> 
<%  } %>
<form action="/books/<%= book.id %>/edit" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" value = "<%=book.title%>">
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" class="form-control" value = "<%=book.genre%>">
    </div>
    <div class="form-group">
        <label for="released_year">Released Year</label>
        <input type="text" name="released_year" id="released_year" class="form-control" value = "<%=book.released_year%>">
    </div>
    <div class="form-group">
        <label for="url">Image URL</label>
        <input type="text" name="url" id="url" class="form-control" value = "<%=book.url%>">
    </div>
    <div class="form-group">
        <label for="AuthorId">Author</label>
        <select name="AuthorId" id="AuthorId" class="form-control"> 
            <option value="">Select Here</option>
            <%data.forEach(element=>{%>
                <option value="<%=element.id%>" <%=element.id === book.AuthorId ? "selected" : " " %>><%=element.fullName()%></option>
            <%})%> 
        </select>
    </div>
    <button class="btn btn-success" type="submit">Edit Book</button>
</form>
</div>
</body>
</html>