<%- include('../partials/header.ejs', {title: 'List of Books'}) %> 
<br>
    <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Released Year</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td>
                        <%= el.title %>
                    </td>
                    <% const genre = el.genre.substring(1, el.genre.length-1).split(',') %> 
                    <td>
                        <ul class="list-group">
                        <% genre.forEach (element => { %>
                            <li class="list-group-item"><%= element %> </li>
                        <% }) %> 
                    </ul>
                    </td>
                    <td><%= el.released_year %></td>
                    <td><%= el.Author.fullName() %> </td>
                    <td>
                        <% if (author) { %>
                            <a class="btn btn-primary" href="/books/<%= el.id %>/edit">Edit</a>
                            <a class="btn btn-danger" href="/books/<%= el.id %>/delete">Delete</a>
                            <a class="btn btn-info" href="/users/<%= username %>/<%= el.id %>">Borrow</a>
                        <% } else { %>
                            <a class="btn btn-info" href="/users/<%= username %>/<%= el.id %>">Borrow</a>
                        <% } %> 
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
    </div>
</body>
</html>