<%- include('../partials/header.ejs', {title: 'List of Books'}) %> 
<br> 
    <div class="container">
    <br>
    <a href="/books/add" class="btn btn-primary" <%= author ? '' : 'hidden' %> >Add a book</a>
    <br> <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Cover</th>
                <th scope="col">Genre</th>
                <th scope="col">Released Year</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.title %></td>
                    <td><img src="<%= el.url %>" alt="Cover" width="200px" height="300px"></td>
                    <% const genre = el.genre.substring(1, el.genre.length-1).split(',') %> 
                    <td>
                        <ul class="list-group">
                        <% genre.forEach (element => { %>
                            <li class="list-group-item"><%= element %> </li>
                        <% }) %> 
                    </ul>
                    </td>
                    <td><%= el.released_year %></td>
                    <td><%= el.Author.fullName() %> </td>
                    <td>
                        <a class="btn btn-primary" href="/books/<%= el.id %>/edit" <%= author && el.status === 'free' ? '' : 'hidden' %>>Edit</a>
                        <a class="btn btn-danger" href="/books/<%= el.id %>/delete" <%= author && el.status === 'free' ? '' : 'hidden' %>>Delete</a>
                        <% if (el.status === 'borrowed') { %>
                            <a class="btn btn-info">This Book Is Borrowed</a>
                        <% } else { %>
                            <a class="btn btn-info" href="/users/<%= username %>/<%= el.id %>" <%= author ? 'hidden' : '' %> >Borrow</a>
                        <% } %>  
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
    </div>
</body>
</html>